{% extends "base.html" %}
{% load static %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}

<div class="container pt-2">
    <h1 class="display-1 text-center">DATENBANK LITERARISCHER BILDZITATE</h2>
        <p class="lead">Die „Datenbank literarischer Bildzitate“ beinhaltet über 1.500 Verweise
            auf Bildende Kunst aus der deutschsprachigen Literatur der Moderne. Bereitgestellt werden sowohl die
            betreffenden
            Textzitate und eine Abbildung als auch ausführliche bibliographische Angaben und Angaben zum Kunstwerk.</p>
        <p><strong>Stöbern</a></strong> - Der Einstieg in die Datenbank: eine
            Suchfunktion und vier Listen mit den in der Datenbank vorhandenen <a href="{% url 'archiv:person_browse' %}">AutorInnen und KünstlerInnen</a>, <a href="{% url 'archiv:text_browse' %}">Texten</a> und <a href="{% url 'archiv:artwork_browse' %}">Kunstwerken</a>.</p>
        <p><strong><a  href="{% url 'infos:about-the-project' %}">Über das Projekt</a></strong> - Hier finden Sie
            Informationen zur Entstehung der Datenbank sowie damit in Zusammenhang stehende Publikationen.</p>
        <p><strong>Wenn Sie uns zitieren möchten:</strong> Der Natur dieser Datenbank
            entsprechend sind wir nicht die AutorInnen der angeführten Texte und Bilder (Projektinformationen etc.
            ausgenommen). Wenn Sie über unsere Datenbank auf einen Kunstverweis aufmerksam werden, schlagen wir eine
            Zitation wie folgt vor:</p>
            <blockquote class="blockquote">
                „[Bibliographische Angabe der Textstelle]. Vgl. dieses Zitat bei: Datenbank
            literarischer Bildzitate. Referenzen auf Bildende Kunst in der deutschsprachigen Literatur der Moderne.
            Entstanden
            unter der Leitung von Konstanze Fliedl. Wien 2014. URL: http://www.univie.ac.at/bildzitat (aufgerufen am
            ...).“</blockquote>
</div>




{% endblock %}